@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&display=swap');

body{
    font-family: sans-serif;
    margin: auto;
}


*{
    margin: 0%;
    padding: 0%;
}

header {
    height: 13vh;
    display: flex;
    align-items: center;
    background-color: 	white;
}

#ImagemPrincipal{
    position: relative;
    left: 3%;
    bottom: 1%;
}

#sublimoonimagem{
    width: 44%;
}

input[type=text] {
    color: #2d2d6c;
    border-color: #5c6c98;
    position: relative;
    right: 1%;
    border-radius: 15px;
    font-size: 1.2rem;
}

#Categorias{

    position:relative;
    left: 0.5%;
}
li {

    font-size: 1.04vw;
    margin: 10px;
    display: inline;
}
.header2{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left:4%;


}
#carrinho {
    position: relative;
    width: 3vw;
    margin: 6px;
}

#fav {
 width: 2vw;
 margin: 6px;
}

p{
    font-size: 1.05vw;
    margin: 2px;
    
}
#welcome{
    position: relative;
    left: 24%;

}
    


#fotoperfil {
    position: relative;
    left: 18%;
    width: 6vw;
    margin:5px;
}

.perfil{

    display: flex;
    justify-content: center;
    height: 150vh;


}

#ret{

    position: relative;
    top: 7%;
    width: 60vw;
    height: 110vh;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fotoperf2{

    width: 20vw;
    margin: 10px;
}

#txt{

    font-size: 2vw;

}

#separa1{

    display: flex;
    align-items: center;
    flex-direction: column;
}
#cpf{

    border-color: #97AECA;
    border-top-color: #c6e0ff;
    border-left-color: #c6e0ff;
    border-radius: 5px;
    border-width: 3px;
    width: 25vw;
    height: 4.5vh;
    font-weight: bolder;

}

#cadeado{

    position: relative;
    width: 1.4vw;
    bottom: 50%;
    left: 43.5%;


}

#email{

    border-bottom-color: #295080;
    border-top-color: #6667d3;
    border-left-color: #6667d3;
    border-right-color: #295080;
    border-radius: 5px;
    width: 25vw;
    height: 4.5vh;
    border-width: 3px;

}

#lapis{

    position: relative;
    width: 2.4vw;
    bottom: 50%;
    left: 43.5%;
}

#senha{

    position: relative;
    left: 15%;
    bottom:2%;
    font-size: 1.3vw;
    text-decoration: 2px underline solid #0672c7;

}

#circulos{

    display: flex;
    align-items: center;
}

#circ{

        height: 15px;
        width: 15px;
        background-color: black;
        border-radius: 50%;
        display: inline-block;
        margin: 20px;
      
}

#circ1{

    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
  
}

#txt2{

    color:#A6A6A6;


}
#botao{

    position: relative;
    top: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #2d2db4;
    border-radius: 10px;
    color: white;
    font-size: 1.4vw;

}

footer{

    background:#0b67ad;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: white
    
    }
    .footer-content{
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .footer-content h3{
    
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    
    }
    
    .footer-content p{
    
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    
    }
    
    .socials{
    
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    
    }
    .socials li{
    
    margin: 0 10px;
    
    }
    
    .socials a{
        position: relative;
        right: 15px;
        text-decoration: none;
        color: white
    }
    
    .socials a i{
    
        font-size: 1.1rem;
        transition: color .4s ease;
    
    }
    
    .socials a:hover i{
    color: blue;
    
    }
    
    .footer-bottom{
    
    background: #0b67ad;
    width: 100vw;
    text-align: center;
    
    }
    
    footer-bottom p{
    
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    
    }
    
    .footer-bottom span{
    
        font-size: 13px;
    text-transform: uppercase;
    font-weight: 200;
    color: white

    
    }